h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.card {
    width: 500px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 100px;
  }